.wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.log {
    width: 200px;
    height: 150px;
    border-radius: 4px;
    border: var(--main-border);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 10px;
    counter-reset: mega-step 0;
}

.log span {
    counter-increment: mega-step;
}

.log span:before {
    content: counter(mega-step, decimal);
    padding-right: 4px;
}

.log span.divider {
    border-bottom: var(--main-border);
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.counter {
    white-space: nowrap;
}
