.process {
    margin: 10px 0;
    background-color: var(--main-bg-color);
    border-radius: var(--main-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    width: 140px;
    position: relative;
}

.process::after {
    content: '';
    height: 10px;
    width: 2px;
    background: var(--main-selected-color);
    position: absolute;
    bottom: -10px;
}
.process:first-child {
    margin-top: 0;
}
.process:last-child::after {
    display: none;
}

.process span {
    color: #fff;
}

.process.pending {
    outline: 3px solid var(--main-selected-color);
}
.process.processing {
    outline: 3px solid var(--main-selected-color);
}
.process.shipped {
    outline: 3px solid var(--main-selected-color);
}
.process.delivered {
    outline: 3px solid var(--main-selected-color);
}
.process.canceled {
    
}

.process.disabled {
    outline: none !important;
    opacity: 0.4;
}
